.progressBar {
    -webkit-appearance: none;
    appearance: none;
    width: 140px;
    height: 30px;
}

.progressBar[value]::-webkit-progress-bar {
    background-color: #EFEAD8;
    border-radius: 2px;
}

.progressBar[value]::-webkit-progress-value {
    background-color: #5F7161;
    border-radius: 2px;
}